SERVER_PORT=8080

AUTH_ENABLED=false
JWT_SECRET=
AUTH_TOKEN_COOKIE_NAME=authService_production_token
AUTH_REQUIRED_PERMISSIONS=
AUTH_PERMISSIONS_USERS_CREATE=
AUTH_PERMISSIONS_USERS_LIST=
AUTH_PERMISSIONS_USERS_GET=
AUTH_PERMISSIONS_USERS_UPDATE=
AUTH_PERMISSIONS_USERS_DELETE=
AUTH_PERMISSIONS_EXPORTS_CREATE=

DB_PRIMARY_KIND=mongodb
DB_PRIMARY_URI=mongodb://localhost:27017
DB_PRIMARY_DATABASE=appdb
